*{
    margin:0px;
    padding:0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.bdy{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.project-heading h3{
   font-size: 2.7rem;
   font-weight: 600;
   text-transform: uppercase;
}
.project-heading span{
   color: #f33c3c;
 }
 .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
 }
 h3{
    font-family: 'Fira Sans',sans-serif;
 }
 .project-box{
    width:330px;
    padding: 15px;
    border:1px solid #eeeeee;
    margin: 20px;
 }
 .project-box img{
    width:300px;
   height:260px;
    overflow:hidden;
    border-radius: 5px;
 }